<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filmes - JSMDb</title>
  
  <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon">
</head>
    <body class="bg-dark">
      <nav class="navbar">
        <div class="container">
          <a class="navbar-brand text-light fs-4 fw-bold" href="index.html"
            >JSMDb</a>
  
          <a class="btn btn-outline-light" href="index.html">Página Inicial</a>
        </div>
      </nav>
      <div class="container d-grid gap-3 my-4">
        <!-- Cabecalho -->
        <div id="pnlCabecalho" class="row">
      
        </div>
  
        <!-- Seção do Poster e Trailer -->
        <div id="pnlTrailer" class="row gap-3">
          
        </div>
  
        <div id="pnlGeneros" class="d-flex gap-3">
        
        </div>
  
        <div class="row">
          <p id="lblDescricao" class="fs-5 text-light">
           
          </p>
        </div>
        
        <div id="pnlCreditos" class="row">
         
        </div>
      </div>
    </body>
  </html>
  